*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
}
.Dheader{
    background-color: black;
    padding: 1em;
}
.Dheader ul{
    list-style: none;
    padding: 0;
    text-align: right;
}
.Dheader li{
    display: inline;
}
.Dheader a{
    color: white; 
    font-size: 23px; 
    margin-left: 15px; 
    text-decoration: none;
}
.Dheader a:not(.LOGO):hover{
    color: orangered;
    transition: 1s;
  }

.Dheader .LOGO{
    color: white; 
    text-decoration: none; 
    font-weight: bolder; 
    font-size: 50px; 
    margin: 0; 
    display: inline;
}
#cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.card {
    margin: 5px;
    height: 600px;
    width: 320px;
    border: 1px solid #eaeef1;
    border-radius: 15px;
    background-color: #ffffff;
  }
  img {
    width: 303px;
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 5px;
  }
  .tagging {
    /* margin: 0; */
    padding: 0 0 0 15px;
  }
  .tag {
    color: #959fac;
    font-size: 13px;
    padding: 1px;
    padding-right: 6px;
    padding-left: 6px;
    text-align: center;
    font-family: "Lato", sans-serif;
    border: 1px solid #eaeef1;
    border-radius: 20px;
  }
  div.content {
    padding: 3px 13px 0 13px;
  }
  .heading{
    margin: 5px;
    color: #152c38;
  }
  .text{
    text-align: justify;
    color: #959fac;
    opacity: 1;
    font-family: "Lato", sans-serif;
    line-height: 125%;
  }
  .button{
    text-align: center;
  }
  .button button{
    padding:  10px 15px;
    background-color: #e0efff;
    color: #1e87ff;
    border: 1px solid #eaeef1;
    border-radius: 20px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
  }
  button:hover{
    background-color: #b2d4f8;;
  }
  .webfooter{
    background-color: black; 
    padding-bottom: 4px;
}
  .webfooter p{
    color: white; 
    font-size: 28px; 
    text-align: center;"
}
  @media (max-width: 992px){
    *{
      margin: 0;
      padding: 0;
  }
  header{
      position: sticky;
      top: 0;
  }
  .Dheader{
      background-color: black;
      padding: 1em;
  }
  .Dheader ul{
      font-size: 10px;
      list-style: none;
      padding: 0;
      text-align: right;
  }
  .Dheader li{
      display: inline;
  }
  .Dheader a{
      color: white; 
      font-size: 23px; 
      margin-left: 15px; 
      text-decoration: none;
  }
  .Dheader a:not(.LOGO):hover{
      color: orangered;
      transition: 1s;
    }
  
  .Dheader .LOGO{
      color: white; 
      text-decoration: none; 
      font-weight: bolder; 
      font-size: 40px; 
      margin: 0; 
      display: inline;
  }
  #cards{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
  }
  .card {
      margin: 5px;
      height: 600px;
      width: 320px;
      border: 1px solid #eaeef1;
      border-radius: 15px;
      background-color: #ffffff;
    }
    img {
      width: 303px;
      padding: 8px;
      border-radius: 15px;
      margin-bottom: 5px;
    }
    .tagging {
      /* margin: 0; */
      padding: 0 0 0 15px;
    }
    .tag {
      color: #959fac;
      font-size: 13px;
      padding: 1px;
      padding-right: 6px;
      padding-left: 6px;
      text-align: center;
      font-family: "Lato", sans-serif;
      border: 1px solid #eaeef1;
      border-radius: 20px;
    }
    div.content {
      padding: 3px 13px 0 13px;
    }
    .heading{
      margin: 5px;
      color: #152c38;
    }
    .text{
      text-align: justify;
      color: #959fac;
      opacity: 1;
      font-family: "Lato", sans-serif;
      line-height: 125%;
    }
    .button{
      text-align: center;
    }
    .button button{
      padding:  10px 15px;
      background-color: #e0efff;
      color: #1e87ff;
      border: 1px solid #eaeef1;
      border-radius: 20px;
      font-family: "Lato", sans-serif;
      cursor: pointer;
    }
    button:hover{
      background-color: #b2d4f8;;
    }
    .webfooter{
      background-color: black; 
      padding-bottom: 4px;
  }
    .webfooter p{
      color: white; 
      font-size: 22px; 
      text-align: center;"
  }
  }
  @media (max-width:768px) {
    *{
      margin: 0;
      padding: 0;
  }
  header{
      position: sticky;
      top: 0;
  }
  .Dheader{
      background-color: black;
      padding: 1em;
  }
  .Dheader ul{
      font-size: 10px;
      list-style: none;
      padding: 0;
      text-align: right;
  }
  .Dheader li{
      display: inline;
  }
  .Dheader a{
      color: white; 
      font-size: 23px; 
      margin-left: 15px; 
      text-decoration: none;
  }
  .Dheader a:not(.LOGO):hover{
      color: orangered;
      transition: 1s;
    }
  
  .Dheader .LOGO{
      color: white; 
      text-decoration: none; 
      font-weight: bolder; 
      font-size: 40px; 
      margin: 0; 
      display: inline;
  }
  #cards{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
  }
  .card {
      margin: 5px;
      height: 600px;
      width: 320px;
      border: 1px solid #eaeef1;
      border-radius: 15px;
      background-color: #ffffff;
    }
    img {
      width: 303px;
      padding: 8px;
      border-radius: 15px;
      margin-bottom: 5px;
    }
    .tagging {
      /* margin: 0; */
      padding: 0 0 0 15px;
    }
    .tag {
      color: #959fac;
      font-size: 13px;
      padding: 1px;
      padding-right: 6px;
      padding-left: 6px;
      text-align: center;
      font-family: "Lato", sans-serif;
      border: 1px solid #eaeef1;
      border-radius: 20px;
    }
    div.content {
      padding: 3px 13px 0 13px;
    }
    .heading{
      margin: 5px;
      color: #152c38;
    }
    .text{
      text-align: justify;
      color: #959fac;
      opacity: 1;
      font-family: "Lato", sans-serif;
      line-height: 125%;
    }
    .button{
      text-align: center;
    }
    .button button{
      padding:  10px 15px;
      background-color: #e0efff;
      color: #1e87ff;
      border: 1px solid #eaeef1;
      border-radius: 20px;
      font-family: "Lato", sans-serif;
      cursor: pointer;
    }
    button:hover{
      background-color: #b2d4f8;;
    }
    .webfooter{
      background-color: black; 
      padding-bottom: 4px;
  }
    .webfooter p{
      color: white; 
      font-size: 22px; 
      text-align: center;"
  }
  }
  @media (max-width:450px){
    *{
      margin: 0;
      padding: 0;
  }
  header{
      position: sticky;
      top: 0;
  }
  .Dheader{
      background-color: black;
      padding: 1em;
  }
  .Dheader ul{
      font-size: 5px;
      list-style: none;
      padding: 0;
      text-align: right;
  }
  .Dheader li{
      display: inline;
  }
  .Dheader a{
      color: white; 
      font-size: 23px; 
      margin-left: 15px; 
      text-decoration: none;
  }
  .Dheader a:not(.LOGO):hover{
      color: orangered;
      transition: 1s;
    }
  
  .Dheader .LOGO{
      color: white; 
      text-decoration: none; 
      font-weight: bolder; 
      font-size: 30px; 
      margin: 0; 
      display: inline;
  }
  .servi{
    font-size: 30px;
    text-decoration: underline; 
    text-indent: 5px; 
    margin-bottom: 0"
  }
  .weoffer{
    font-size: 23px;
    text-indent: 10px; 
    margin-top: 3px
  }

  #cards{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
  }
  .card {
      margin: 5px;
      height: 600px;
      width: 320px;
      border: 1px solid #eaeef1;
      border-radius: 15px;
      background-color: #ffffff;
    }
    img {
      width: 303px;
      padding: 8px;
      border-radius: 15px;
      margin-bottom: 5px;
    }
    .tagging {
      /* margin: 0; */
      padding: 0 0 0 15px;
    }
    .tag {
      color: #959fac;
      font-size: 13px;
      padding: 1px;
      padding-right: 6px;
      padding-left: 6px;
      text-align: center;
      font-family: "Lato", sans-serif;
      border: 1px solid #eaeef1;
      border-radius: 20px;
    }
    div.content {
      padding: 3px 13px 0 13px;
    }
    .heading{
      margin: 5px;
      color: #152c38;
    }
    .text{
      text-align: justify;
      color: #959fac;
      opacity: 1;
      font-family: "Lato", sans-serif;
      line-height: 125%;
    }
    .button{
      text-align: center;
    }
    .button button{
      padding:  10px 15px;
      background-color: #e0efff;
      color: #1e87ff;
      border: 1px solid #eaeef1;
      border-radius: 20px;
      font-family: "Lato", sans-serif;
      cursor: pointer;
    }
    button:hover{
      background-color: #b2d4f8;;
    }
    .webfooter{
      background-color: black; 
      padding-bottom: 4px;
  }
    .webfooter p{
      color: white; 
      font-size: 19px; 
      text-align: center;"
  }
  }